.search {
  display: flex;
  justify-content: center;
  gap: 5em;
  align-items: center;
  width: 100%;
  margin: 25px 0;
}

.search-input {
  width: 60%;
  max-width: 500px;
  height: 50px;
  border: 2px solid #ccc;
  border-radius: 25px;
  background-color: #f7f7f7;
  padding: 0 20px;
  font-size: 1.1rem;
  color: #333;
  transition: all 0.3s ease;
}

.search-input::placeholder {
  color: #999;
  font-weight: 300;
}

.random-button {
  height: 50px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  background: linear-gradient(180deg, #ff4d16 0%, #e82e28 100%);
  border: none;
  border-radius: 25px;
  transition: all 0.1s ease;
}

.random-button:hover {
  scale: 1.2;
}
